.graph-menu {
    background-color: rgb(60, 60, 60);
    position: absolute;
    left: calc(100vw - 260px);
    top: 40vh;
    width: 250px;
    height: auto;
    border-radius: 2px;
    color: white;
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    border: 1px solid rgb(40, 40, 40);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.graph-menu h1 {
    font-size: 1.125rem;
    padding-block: 10px;
    margin: 0px;
    justify-self: center;
    font-weight: bold;
    border-bottom: 1px solid rgb(40, 40, 40);
    width: 100%;
    text-align: center;
}

.graph-menu h2 {
    font-size: 1rem;
    margin: 0px;
    font-weight: lighter;
}

.graph-menu p {
    font-size: .8rem;
    margin: 0px;
    padding: 10px;
    font-weight: bold;
}

.graph-menu .property {
    width: 100%;
    border-bottom: 1px solid rgb(40, 40, 40);
}

.graph-menu .weight-setting {
    width: 100%;
    border-bottom: 1px solid rgb(40, 40, 40);
    padding-block: 5px;
}

.graph-menu .radio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.graph-menu .radio p {
    padding-left: 5px;
}

.radio input[type='radio'] {
    appearance: none;
    border: 3px solid rgb(120, 120, 120);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin-bottom: 2px;
    margin-left: 10px;
}

.radio input[type='radio']:checked {
    background-color: rgb(255, 0, 0);
}

.graph-menu .degree-setting {
    padding-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.graph-menu .degree-setting button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-inline: 15px;
    cursor: pointer;
    font-weight: bold;
}

.graph-menu span {
    font-weight: normal;
}