.pop-up{
    width: 500px;
    position: fixed;
    left: calc(50vw - 270px);
    background-color: rgb(255, 230, 230);
    color: red;
    border-radius: 5px;
    border: 2px solid red;
    padding: 20px;
    padding-block: 10px;
    animation-name: pop-up;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0.25em red, 0 0 0.25em red;
}

.pop-up .error-icon {
    margin-top: 4px;
    margin-right: 3px;
}

@keyframes pop-up {
    0% {
        opacity: 0%;
        top: 10vh;
    }

    15% {
        opacity: 100%;
        top: 13vh;
    }

    85% {
        opacity: 100%;
        top: 13vh;
    }

    100% {
        opacity: 0%;
        top: 10vh;
    }
}

