.edge-menu {
    background-color: rgb(60, 60, 75);
    position: absolute;
    left: 10px;
    top: 40vh;
    width: 250px;
    height: auto;
    border-radius: 5px;
    color: white;
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    border: 2px solid white;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.edge-menu h1 {
    font-size: 1.125rem;
    padding-block: 10px;
    margin: 0px;
    justify-self: center;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.edge-menu h2 {
    font-size: 1rem;
    margin: 0px;
    font-weight: lighter;
}

.edge-menu h3 {
    font-size: .8rem;
    margin: 10px;
    margin-left: 15px;
}

.edge-menu .weight {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.edge-menu button {
    padding: 8px;
    color: red;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 90%;
    font-weight: bold;
    justify-self: center;
    margin-block: 5px;
    cursor: pointer;
    border: 2px solid red;
    font-family: 'custom1';
    transition-duration: .15s;
}

.edge-menu button:hover {
    transform: scale(1.025);
}

.edge-menu .close-btn {
    border: 2px solid white;
    color: white;
}

.edge-menu input[type='number'] {
    outline: none;
    border: none;
    border-radius: 3px;
    width: 30%;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(120, 120, 140);
    color: white;
    font-weight: bold;
    text-align: center;
}

.edge-menu input[type='number']:disabled {
    background-color: rgb(50, 50, 60);
    color: rgb(80, 80, 80);
}

.edge-menu .heading {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: calc(100% - 10px);
    border-bottom: 2px solid white;
    padding-right: 10px;
}

.edge-menu .heading-icon {
    margin-top: 7px;
    margin-right: 5px;
}